.video-list {
  display: flex;
  flex-wrap: wrap;
}

.video-item {
  cursor: pointer;
  margin: 0 0 50px 0 !important;
}

#video-player {
  width: 840px;
  height: 460px;
}

.player {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playlist-title {
  font-size: 18px; /* Adjust the font size as needed */
}

.play-icon {
  position: absolute;
  transform: translate(150%, -150%);
  font-size: 48px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.video-item:hover .play-icon {
  opacity: 1;
}
